@import url("https://fonts.googleapis.com/css?family=Poppins:400,500&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  height: 100vh;
  display: flex;
  background-color: #f1f1f1;
}

.container {
  width: 100%;
  max-width: 400px;
  padding: 20px;
}

.space-below {
  margin-bottom: 20px;
}


.full-width {
  width: 50%;
  height: 100%;
}

.box-area{
  width: 500px;
}

.right-box{
  padding: 40px 30px 40px 40px;
}

::placeholder{
  font-size: 16px;
}

.rounded-4{
  border-radius: 20px;
}
.rounded-5{
  border-radius: 30px;
}

@media only screen and (max-width: 768px){

  .box-area{
     margin: 0 10px;

  }
  .left-box{
     height: 100px;
     overflow: hidden;
  }
  .right-box{
     padding: 20px;
  }

}