@import url("https://fonts.googleapis.com/css?family=Poppins:400,500&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  height: 100svh;
  display: flex;
}

.container {
  width: 100%;
  max-width: 400px;
  padding: 20px;
}

.space-below {
  margin-bottom: 20px;
}


.full-width {
  width: 50%;
  height: 100%;
}

.box-area{
  width: 500px;
}

.right-box{
  padding: 40px 30px 40px 40px;
}

::placeholder{
  font-size: 16px;
}

.rounded-4{
  border-radius: 20px;
}
.rounded-5{
  border-radius: 30px;
}

.password-toggle-icon {
  /* position: absolute; */
  /* top: 55%;
  right: 30px; */
  /* transform: translateY(-80%);
  cursor: pointer; */
  position: absolute;
  top: 50%;
  /* transform: translateY(-10%); */
  right: 10px;
  cursor: pointer;
}

.password-toggle-icon i:hover {
  color: #000;
}

.password-toggle-icon i {
  font-size: 18px;
  line-height: 1;
  color: #333;
  transition: color 0.3s ease-in-out;
  margin-bottom: 20px;
}

#password {
  padding-right: 30px;
}

.form-group {
  position: relative;
}

@media only screen and (max-width: 768px){

  .box-area{
     margin: 0 10px;

  }
  .left-box{
     height: 100px;
     overflow: hidden;
  }
  .right-box{
     padding: 20px;
  }

}